extra-streamlit-components~=0.1.81
inquirer~=3.4.1
keyring~=25.7.0
matplotlib~=3.10.8
openmeteo-requests~=1.7.5
openpyxl~=3.1.0
pandas~=2.2.0
protobuf~=6.33.4
pymongo[srv]~=4.16.0
requests-cache~=1.2.1
retry-requests~=2.0.0
streamlit~=1.53.1
tqdm~=4.67.1
xlsxwriter~=3.2.9
keyrings.alt~=5.0.2
secretstorage~=3.5.0

# Development.
setuptools~=80.9.0
python-dotenv~=1.0.0
pytest~=9.0.2
pytest-playwright~=0.7.2
pytest-mock~=3.15.1
pytest-cov~=7.0.0
ruff~=0.14.14
